<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js" defer></script>
    <title>Test</title>
</head>
<body>
    <form id="user_info_form">
        <div>
            <label for="temperature">Temperature</label>
            <input type="text" id="temperature" name="temperature" required readonly>
        </div>
        <div>
            <label for="classification">Classification</label>
            <input type="text" id="classification" name="classification" required readonly>
            <input type="text" id="confidence_level" name="confidence_level" required hidden>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="contact_number">Contact Number</label>
            <input type="tel" id="contact_number" name="contact_number" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" id="address" name="address" required>
        </div>

        <div>
            Have you been in contact with anyone presenting the following symptoms in the last 15 days?
            <div>
                <label for="symptoms_others_cough">Cough</label>
                <input type="checkbox" name="symptoms_others_cough" id="symptoms_others_cough">
            </div>
            <div>
                <label for="symptoms_others_fever">Fever</label>
                <input type="checkbox" name="symptoms_others_fever" id="symptoms_others_fever">
            </div>
            <div>
                <label for="symptoms_others_headache">Headache</label>
                <input type="checkbox" name="symptoms_others_headache" id="symptoms_others_headache" >
            </div>
            <div>
                <label for="symptoms_others_difficulty_breathing">Difficulty Breathing</label>
                <input type="checkbox" name="symptoms_others_difficulty_breathing" id="symptoms_others_difficulty_breathing">
            </div>
        </div>

        <div>
            Have you experienced any of the following symptoms in the last 15 days?
            <div>
                <label for="symptoms_cough">Cough</label>
                <input type="checkbox" name="symptoms_cough" id="symptoms_cough">
            </div>
            <div>
                <label for="symptoms_fever">Fever</label>
                <input type="checkbox" name="symptoms_fever" id="symptoms_fever">
            </div>
            <div>
                <label for="symptoms_headache">Headache</label>
                <input type="checkbox" name="symptoms_headache" id="symptoms_headache" >
            </div>
            <div>
                <label for="symptoms_difficulty_breathing">Difficulty Breathing</label>
                <input type="checkbox" name="symptoms_difficulty_breathing" id="symptoms_difficulty_breathing">
            </div>
        </div>
        
        <button type="submit" id="submit_button">
            Submit
        </button>

    </form>
</body>
</html>